.navLink{
color:grey;
text-decoration: none;
text-decoration-style: none;
font-size:12px
}

.navLink:focus{
    color:black;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300; 
}
.navLink:hover{
    text-decoration-style: none;
    text-decoration: none;
}
.navLink:active{
    font-weight: 400; 
    color:black; 
    text-decoration: none;
    font-size: 14px;
}
